In [3]:
a=int(input("insert the number"))


rev=0

while a>0:
  last = a%10
  rev= rev*10+last
  a=a//10

print(rev)

insert the number 3274682648

8462864723

In [4]:
a= int(input("insert the number"))

rev=0
while a>0:
    last=a%10
    rev=rev*10+last
    a=a//10

print(rev)

insert the number 7645879

9785467

In [5]:
a=int(input("enter the number"))

fact=1

for i in range (1,a+1):
    fact=fact*i
print(fact)

enter the number 5

120

In [13]:
num1,num2=0,1


for i in range(10):

    print(num1)
    next = num1 + num2
    num1=num2
    num2=next

0
1
1
2
3
5
8
13
21
34

In [16]:
a=int(input("enter the number"))

rev=0

while a>0:
    last= a%10
    rev=rev*10+last
    a=a//10

print(rev)

enter the number 35457

75453

In [17]:
a= int(input("enter the number"))

fact=1

for i in range(1,a+1):

    fact= fact*i
print(fact)

enter the number 5

120

In [18]:
num1,num2=0,1

for i in range (10):
    print(num1)
    next=num1+num2
    num1=num2
    num2=next

0
1
1
2
3
5
8
13
21
34

In [23]:
a=int(input("enter the number"))

if a==0 and a==1:
    print("not a prime")

elif a>1:
 for i in range(2,a):
     if a%i==0:
         print("not a prime")
         break
 else:
     print("prime")
else:
 print("not prime")

enter the number 3

prime

In [23]:
a=int(input("enter the number of rows"))

for i in range (0, a):
    for j in range(a-i,0,-1):
     print(j, end= ' ')

    print()

enter the number of rows 6

6 5 4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [30]:
a= int(input("enter the number of rows"))

for i in range(1,a+1):
    for j in range(0,i):
        print('*', end= ' ')

    print()    

for i in range(1,a):
    for j in range(a-i,0,-1):
        print('*', end=' ')
    print()

enter the number of rows 6

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [32]:
a=int(input("enter the number of rows"))

for i in range(1,a+1):
    print(' '*a, end=' ')
    print('* '*i)

    a=a-1

enter the number of rows 6

       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *

In [35]:
a= int(input("enter the number of rows"))

for i in range(1,a+1):
    for j in range(i,0,-1):

     print(j, end=' ')

    print()

enter the number of rows 6

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1
6 5 4 3 2 1

In [38]:
n= int(input("enter the number"))

start=2
sum=0

for i in range(0,n):
    if i<n-1:
        print(start,end='+')

    else:
        print(start)

    sum= sum+start
    start=start*10+2
print(sum)

enter the number 6

2+22+222+2222+22222+222222
246912

In [39]:
num= int (input("enter the number"))

start =2
sum=0

for i in range(0,n):
    if i<n-1:
        print(start, end=' +')

    else:
        print(start)

    sum=sum+start

    start=start*10+2
print(sum)

enter the number 6

2 +22 +222 +2222 +22222 +222222
246912

In [40]:
for i in range(1,5):
    for j in range(1,5):
        for k in range(1,5):
            for l in range(1,5):
                print(i,j,k,l)

1 1 1 1
1 1 1 2
1 1 1 3
1 1 1 4
1 1 2 1
1 1 2 2
1 1 2 3
1 1 2 4
1 1 3 1
1 1 3 2
1 1 3 3
1 1 3 4
1 1 4 1
1 1 4 2
1 1 4 3
1 1 4 4
1 2 1 1
1 2 1 2
1 2 1 3
1 2 1 4
1 2 2 1
1 2 2 2
1 2 2 3
1 2 2 4
1 2 3 1
1 2 3 2
1 2 3 3
1 2 3 4
1 2 4 1
1 2 4 2
1 2 4 3
1 2 4 4
1 3 1 1
1 3 1 2
1 3 1 3
1 3 1 4
1 3 2 1
1 3 2 2
1 3 2 3
1 3 2 4
1 3 3 1
1 3 3 2
1 3 3 3
1 3 3 4
1 3 4 1
1 3 4 2
1 3 4 3
1 3 4 4
1 4 1 1
1 4 1 2
1 4 1 3
1 4 1 4
1 4 2 1
1 4 2 2
1 4 2 3
1 4 2 4
1 4 3 1
1 4 3 2
1 4 3 3
1 4 3 4
1 4 4 1
1 4 4 2
1 4 4 3
1 4 4 4
2 1 1 1
2 1 1 2
2 1 1 3
2 1 1 4
2 1 2 1
2 1 2 2
2 1 2 3
2 1 2 4
2 1 3 1
2 1 3 2
2 1 3 3
2 1 3 4
2 1 4 1
2 1 4 2
2 1 4 3
2 1 4 4
2 2 1 1
2 2 1 2
2 2 1 3
2 2 1 4
2 2 2 1
2 2 2 2
2 2 2 3
2 2 2 4
2 2 3 1
2 2 3 2
2 2 3 3
2 2 3 4
2 2 4 1
2 2 4 2
2 2 4 3
2 2 4 4
2 3 1 1
2 3 1 2
2 3 1 3
2 3 1 4
2 3 2 1
2 3 2 2
2 3 2 3
2 3 2 4
2 3 3 1
2 3 3 2
2 3 3 3
2 3 3 4
2 3 4 1
2 3 4 2
2 3 4 3
2 3 4 4
2 4 1 1
2 4 1 2
2 4 1 3
2 4 1 4
2 4 2 1
2 4 2 2
2 4 2 3
2 4 2 4
2 4 3 1
2 4 3 2
2 4 3 3
2 4 3 4
2 4 4 1
2 4 4 2
2 4 4 3
2 4 4 4
3 1 1 1
3 1 1 2
3 1 1 3
3 1 1 4
3 1 2 1
3 1 2 2
3 1 2 3
3 1 2 4
3 1 3 1
3 1 3 2
3 1 3 3
3 1 3 4
3 1 4 1
3 1 4 2
3 1 4 3
3 1 4 4
3 2 1 1
3 2 1 2
3 2 1 3
3 2 1 4
3 2 2 1
3 2 2 2
3 2 2 3
3 2 2 4
3 2 3 1
3 2 3 2
3 2 3 3
3 2 3 4
3 2 4 1
3 2 4 2
3 2 4 3
3 2 4 4
3 3 1 1
3 3 1 2
3 3 1 3
3 3 1 4
3 3 2 1
3 3 2 2
3 3 2 3
3 3 2 4
3 3 3 1
3 3 3 2
3 3 3 3
3 3 3 4
3 3 4 1
3 3 4 2
3 3 4 3
3 3 4 4
3 4 1 1
3 4 1 2
3 4 1 3
3 4 1 4
3 4 2 1
3 4 2 2
3 4 2 3
3 4 2 4
3 4 3 1
3 4 3 2
3 4 3 3
3 4 3 4
3 4 4 1
3 4 4 2
3 4 4 3
3 4 4 4
4 1 1 1
4 1 1 2
4 1 1 3
4 1 1 4
4 1 2 1
4 1 2 2
4 1 2 3
4 1 2 4
4 1 3 1
4 1 3 2
4 1 3 3
4 1 3 4
4 1 4 1
4 1 4 2
4 1 4 3
4 1 4 4
4 2 1 1
4 2 1 2
4 2 1 3
4 2 1 4
4 2 2 1
4 2 2 2
4 2 2 3
4 2 2 4
4 2 3 1
4 2 3 2
4 2 3 3
4 2 3 4
4 2 4 1
4 2 4 2
4 2 4 3
4 2 4 4
4 3 1 1
4 3 1 2
4 3 1 3
4 3 1 4
4 3 2 1
4 3 2 2
4 3 2 3
4 3 2 4
4 3 3 1
4 3 3 2
4 3 3 3
4 3 3 4
4 3 4 1
4 3 4 2
4 3 4 3
4 3 4 4
4 4 1 1
4 4 1 2
4 4 1 3
4 4 1 4
4 4 2 1
4 4 2 2
4 4 2 3
4 4 2 4
4 4 3 1
4 4 3 2
4 4 3 3
4 4 3 4
4 4 4 1
4 4 4 2
4 4 4 3
4 4 4 4

In [43]:
n= int(input("enter the number"))
binary=[]

while n>0:
    binary.append(n%2)
    n=n//2

for i in binary[::-1]:
    print(i, end='')

enter the number 3

11

In [44]:
sen= 'Data Science Mentorship Program'

res=' '

for i in sen.split():
    res=res+i[0].upper()

print(res)

 DSMP

In [45]:
s='PyNaTive'

upper=''
lower=''

for i in s:
    if i.islower():
        lower=lower+i

    else:
        upper=upper+i


print(lower+upper)

yaivePNT

In [49]:
s='hell23056every897'
sum=0
count=0

for i in s:
    if i.isdigit():
     sum=sum+int(i)
     count+=1
print(sum)
print(sum/count)
print(count)

40
5.0
8

In [50]:
s= 'i am 25 years old 10 months and 2 days old'
res=''
for i in s:
    if i.isdigit():
        res=res+i
print(res)

25102

In [55]:
s='code practice quiz geeks'
res=[]

for i in s.split():
    res.append(i)
res=res[::-1] 
print(''.join(res))

geeksquizpracticecode

In [56]:
a='apple banana, mango'
b='banana, fruits, mango'

res=[]

for i in a.split():
    if i not in b and i not in res:
        res.append(i)

for j in b.split():
    if j not in a and j not in res:
        res.append(j)

print(res)

['apple', 'fruits,']

In [1]:
a= 'we can learn data science through campusx mentorship program'

word='mentorship'

pos=0

for i in a.split():
    pos+=1
    if i==word:
        break

print(pos)

8

In [2]:
s='aaaaabcaasaaaaskdjjhhhhhhkshgy'

res=''

for i in s:
    if i not in res:
        res=res+i
print(res)

abcskdjhgy

In [5]:
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]

[(i,j)for(i,j) in zip (list1, list2)]

[('M', 'y'), ('na', 'me'), ('i', 's'), ('Kh', 'an')]

In [6]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

list1[2][2].append(7000)

list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [7]:
l1=[1,2,3,4,5,6,7,8]
res=[]
sum=0

for i in l1:
    sum=sum+i
    res.append(sum)

print(res)

[1, 3, 6, 10, 15, 21, 28, 36]

In [10]:
l= [2,4,6,10,1]

res=[]

for i in l:
    sum=0
    for j in l:
        if i<=j:
            sum=sum+j

    res.append(sum)
print(res)

[22, 20, 16, 10, 23]

In [11]:
l=[[1,2,3],[4,5,6],[7,8,9]]
res=[]
for i in l:
    res.append(max(i))
print(res)

[3, 6, 9]

In [12]:
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}

maxv=0
maxk=''

for i in test_dict:
    if maxv<len(set(test_dict[i])):
        maxv=len(set(test_dict[i]))
        maxk=i

print(maxk)

Best

In [18]:
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}

res=[]

for i in test_str.split():
    if i in repl_dict :
        res.append(repl_dict[i])
    else:
        res.append(i)
print("  ".join(res))

CampusX  is the best channel  for  Data-Science  students.

In [23]:
test_list = ["CampusX", 10,"is",6]
key_list = ["name", "id"]
n=len(test_list)
new=[]


for i in range(0,n,2):

    new.append({key_list[0]:test_list[i], key_list[1]:test_list[i+1]})

print(new)

[{'name': 'CampusX', 'id': 10}, {'name': 'is', 'id': 6}]

In [29]:
d={'c':[3],'b':[12,10],'a':[19,4]}

res={}

for i in sorted(d):

    res[i]=sorted(d[i])
print(res)

{'a': [4, 19], 'b': [10, 12], 'c': [3]}

In [32]:
def unique(l):
    res=[]
    for i in l:
        if i not in res:
            res.append(i)

    return res
l=[1,2,3,4,5]
unique(l)

[1, 2, 3, 4, 5]

In [37]:
def seq(l):
    temp=[]
    for i in sorted(l.split('-')):
        temp.append(i)

    return "-".join(temp)

l='green-red-yellow-black-white'

seq(l)

'black-green-red-white-yellow'

In [41]:
def fun(l):
    uc=0
    lc=0

    for i in l:
        if i.islower():
            lc+=1
        elif i.isupper():
            uc+=1
        else:
            pass

    return lc,uc


l="CampusX is an Online Mwentorship Orogram fOr Enlightening Yopung mInds"
x,y=fun(l)

print("no of lc:", x)
print ("no of uc:", y)

no of lc: 52
no of uc: 9

In [43]:
l1=[1,2,3]
l2=[4,5,6]
l3=[7,8,9]

list(map(lambda x,y,z:x+y+z,l1,l2,l3))

[12, 15, 18]

In [44]:
str1="FIFA world cup in 2022 will take place in Qatar"

list(filter(lambda x:True if x.lower() in 'aieou' else False, str1))

['I', 'A', 'o', 'u', 'i', 'i', 'a', 'e', 'a', 'e', 'i', 'a', 'a']

In [47]:
l=[12,23,1,4,56,34,22,3]
k=4

l.sort(reverse=True)
print(l[k-1])

22

In [49]:
L=[1,2,3,4,5]
flag=True

for i in range(0,len(L)-1):
    if L[i]>L[i+1]:
        flag:False
if flag:
        print("sorted")

else:
        print('unsorted')

sorted

In [50]:
l=[21,1,34,23,54,11,10]

max=l[0]

for i in l:
    if i>max:
        max=i

print(max)

54

##

In [54]:
l=[1,1,2,3,4,4,5,5]
d={}
for i in l:
    if i in d:
        d[i]=d[i]+1
    else:
        d[i]=1

for i in d:
 if d[i]>1:
    print(i)

1
4
5