Q 1- Print the given strings as per stated format:

"Data" "Science" "Mentorship" "Program" 
"By" "CampusX"

output= Data-Science-Mentorship-Program-started-By-CampusX

In [4]:
print("Data", "Science", "Mentorship","Program", sep="-", end="-started-")
print("By", "CampusX", sep="-")

Data-Science-Mentorship-Program-started-By-CampusX

In [1]:
l1 = [2, 4, 6, 10, 1]
l2 = [22, 20, 10, 23]

In [4]:
f=[]
for i in l1:
    e=[]
    for j in l1:
        if j>=i:
            e.append(j)
    f.append(sum(e))

In [5]:
f

[22, 20, 16, 10, 23]

In [8]:
l2=[]
for i in l1:
    sum=0

    for j in l1:
        if i<=j:
            sum=sum+j

    l2.append(sum)

print(l2)

[22, 20, 16, 10, 23]

In [9]:
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]


num3=[]

for i in num1:
    for j in num2:
        if i==j:
            num3.append(j)
            num3.sort()

print(num3)

[34, 67, 89]

In [13]:
l=['CampusX is a channel', 'for data-science', 'aspirants.']

res=[]

for i in l:
    
    res.extend(i.split("a"))
print(res)

['C', 'mpusX is ', ' ch', 'nnel', 'for d', 't', '-science', '', 'spir', 'nts.']

In [14]:
l=[[1,2,3],[4,5,6],[7,8,9]]

res= []

for i in l:
    res.append(max(i))
print(res)

[3, 6, 9]

In [ ]:
t = (1, 5, 7, 8, 10)

L=[]

L.apend

In [ ]:
Q 3- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [2]:
a=4
b=6
temp=a
a=b
b=temp
print(a)
print(b)

6
4

In [32]:
a=4
b=9

temp=a
a=b
b=temp
print(a)
print(b)

9
4

In [ ]:
Q 3- find the simple interest

In [8]:
p = int(input('Enter amount'))
t = int(input('Enter time period'))
r = float(input('Enter rate'))

interest = (p*t*r)/100

print('the interest is',interest)

Enter amount 70
Enter time period 5
Enter rate 2

the interest is 7.0

In [ ]:
Q 4-find the sum of squares of first n natural numbers where n will be provided by the user.

In [11]:
n= int(input('enter the number'))

result = (n*(n+1)*(2*n + 1))/6
print(result)

enter the number 500

41791750.0

In [ ]:
Q 5- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [ ]:
first_term = int(input('enter 1st term'))
second_term = int(input('enter 2nd term'))
n = int(input('enter the value of n'))

d = second_term - first_term

an = first_term + (n-1)*d

print(an)

In [ ]:
Q 6-Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [12]:
n1 = int(input('num1'))
d1 = int(input('den1'))
n2 = int(input('num2'))
d2 = int(input('den2'))

rn = n1*d2 + n2*d1
rd = d1*d2

print('{}/{}'.format(rn,rd))

num1 70
den1 2
num2 60
den2 4

400/8

In [ ]:
                                                    TASK-----2

In [ ]:
Q-1Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [7]:
first= int(input('enter first angle'))
second= int(input('enter second angle'))
third=int(input('enter third angle'))

if first+second+third==180 and first>0 and second>0 and third>0:
   print("it is a triangle")
else:
    print("it is not a triangle")

enter first angle 45
enter second angle 60
enter third angle 60

it is not a triangle

In [ ]:
Q-2Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [10]:
cp=int(input('enter cost price'))
sp=int(input('enter selling price'))

if cp>sp:
    print("loss")
elif cp<sp:
    print("profit")
else:
    print("no profit and no loss")

enter cost price 60
enter selling price 20

loss

In [38]:
inte = 12345
n1 = str(inte)
rev = int(n1[::-1])
rev

54321

In [37]:
inte = 12345

rev = 0
while (inte>0):
    last = inte%10
    rev = rev*10 + last 
    inte = inte//10

In [41]:
a= int(input("enter the number"))
rev=0

while (a>0):
 last=a%10
 rev=rev*10+last
 a=a//10   
print(rev)

enter the number 34768

86743

In [1]:
num=int(input("enter the number"))

rev=0

while (num>0):
    last=num%10
    rev=rev*10+last
    num= num//10

print(rev)

enter the number 7658

8567

In [11]:
num1, num2= 0,1
for i in range(10):
    print(num1)

    next= num1+num2

    num1= num2
    num2=next

0
1
1
2
3
5
8
13
21
34

In [ ]:
num=int(input("enter the number"))

sum=0

for i in range(0, num+1):

In [ ]:
Q-4 Find the factorial of a given number.

In [ ]:
num = int(input('enter the number'))

fact = 1
for i in range(1,num+1):
  fact = fact*i

print(fact)

In [ ]:
Q-5 Reverse a given integer number.

In [2]:
number = int(input('enter the number'))

rev = 0

while number>0:
  last = number%10
  rev = rev*10 + last
  number = number//10

print(rev)

enter the number 647657

756746

In [7]:
n= int(input("enter a number"))
sum= 0
i=1
while i<n+1:
    if i%5==0:
     i+1
     continue
    sum+=1
    if sum>300:
     sum=sum-i
     break

i+=1

print(sum)

enter a number 24

300

In [11]:
N=int(input("enter the number"))
rev=0
while N>0:
 last= N%10
 rev=rev*10+last
 N=N//10
print(rev)

enter the number 34567

76543

In [2]:
number=int(input("enter the number"))
reverse=0

while number>0:
    last= number%10
    reverse= reverse*10+last
    number= number//10

print(reverse)

enter the number 432368

863234

In [10]:
first_angle= int(input("enter first angle"))
second_angle= int(input("enter second angle"))
third_angle= int(input("enter third angle"))

if first_angle+second_angle+third_angle==180:
 print("it is a triangle")
    
else:
 print("it is not a traingle")

enter first angle 45
enter second angle 45
enter third angle 90

it is a triangle

In [18]:
num1=0
num2=1

for i in range(10):
   print(num1)
   next=num1+num2
   
   num1=num2 
   num2=next

0
1
1
2
3
5
8
13
21
34

In [ ]:
l1=[1,2,3,4,5,6,7,8,9,10]
output should b [1,3,6,10]

In [19]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
indices = [0, 2, 5, 7]
output = [l[i] for i in indices]
print(output)

[1, 3, 6, 8]

In [3]:
n1=0
n2=1

for i in range(10):
    print (n1)
    next = n1+n2

    n1=n2
    n2=next

0
1
1
2
3
5
8
13
21
34

In [11]:
num=int(input("enter the number"))

rev=0

while num>0:
    last= num%10
    rev= rev*10+last
    num= num//10

print(rev)

enter the number 65487

78456

In [15]:
num=int(input("enter the number"))
fact=1
for i in range(1,num+1):
    fact=fact*i
print(fact)

enter the number 5

120

In [18]:
a= int(input("enter the number"))
fact =1

for i in range (1, a+1):
    fact= fact*i
print(fact)

enter the number 5

120

In [20]:
#reverse
a= int(input("enter the number"))

reverse= 0

while a >0:
    last= a%10
    reverse= reverse*10+last
    a=a//10
print(reverse)

enter the number 175483

384571

In [22]:
#fibonacci

a=0
b=1

for i in range(10):
    print(a)
    c=a+b

    a=b
    b=c

0
1
1
2
3
5
8
13
21
34

In [24]:
#factorial
a=int(input("enter the number"))

factorial=1

for i in range(1,a+1):
    factorial=factorial*i
print(factorial)

enter the number 5

120

In [4]:
n= int(input("enter the number"))
sum=0

i=1

while i<n+1:
  if i%5==0:
      i+=1
      continue
  sum+=i

  if sum>300:
      sum=sum-i
      break
  i+=1    

print(sum)

enter the number 50

276

In [11]:
n=int(input('enter the number'))
sum =0

for i in range(1,n+1):
    if i%5==0:
     i+=1
     continue
    sum+=i
    if sum>300:
        sum=sum-i
        break
    i+=1    
print(sum)

enter the number 50

276

Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

In [31]:
a=int(input("enter the number"))

sum=0

for j in range (1,a+1):
    if j%5==0:
     j+=1
     continue
    sum+=j
    if sum>300:
         sum=sum-j
         break
    j+=1   
print(sum)

enter the number 50

276

In [39]:
ankur=int(input("enter the number"))

sum=0

for i in range (1,3):
    if i%5==0:
        i+=1
        continue
    sum+=i
    if sum>300:
         sum=sum-i
         break
    i+=1
print(sum)

enter the number 50

3

In [2]:
sum=0
count=0

while True:
    num=int(input("enter the number"))
    if num==0:
     break
    sum=sum+num
    count=count+1
print("sum", sum)
print("avg", sum/count)

enter the number 5
enter the number 68
enter the number 89
enter the number 653
enter the number 0

sum 815
avg 203.75

In [6]:
L=[]

for i in range(2000, 3201):
    if i%7==0 and i%5!=0:
     L.append(str(i))

print(",".join(L))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [9]:
L=[]

for i in range(1000, 3001):
    flag= True         #used to  change the state

    curr=i
    while curr>0:
        last=curr%10
        if last%2!=0:
            flag=False
            break
        curr=curr//10
    if flag:
         L.append(str(i))
print(",".join(L))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

In [ ]:
L=[]

for i in range(1000,3001):
    flag=True

    curr=i

    while curr>0:
     last= curr%10
     if last%2!=0:

         flag= False
         break


     curr=curr//10
    if flag:
        L.append(str(i))

print(",".join(L))

In [ ]:
L=[]

for i in range(200,501):
    flag=True
    curr=i

    while curr>0:
        last= curr%10
    if last%2!=0:
         flag=False
         break
    curr=curr//10
    if flag:
         L.append(str(i))
print(",".join(L))

In [13]:
num=int(input("enter the number"))

flag =True

for i in range(2,num):
    if num%i==0:
       flag= False

       break
if flag==True:
        print("it is a prime number")
else:
        print("not a prime number")

enter the number 2

it is a prime number

In [2]:
num=int(input("enter the number"))
if num==0 and num==1:
    print("not a prime number")
elif num>1:

    
    
 for i in range(2,num):
    if num%i==0:
        
        print("it is not  a prime number")
        break
 else:
     print("it is a prime")
    
else:

    print("not")

enter the number 2

it is a prime

In [4]:
rows=int(input("enter the number"))

for i in range(0, rows):
    for j in range(rows-i,0,-1):
        print(j, end=' ')
    print()

enter the number 4

4 3 2 1
3 2 1
2 1
1

In [8]:
rows=int(input("enter the number"))

for i in range(0,rows):
    for j in range(rows-i,0,-1):
        print(j, end=' ')
    print()

enter the number 7

7 6 5 4 3 2 1
6 5 4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [13]:
rows=int(input("enter the number"))

for i in range (1,rows+1):
    for j in range (0,i):

      print('*', end='  ')
    print()
for i in range (1, rows):
    for j in range(rows-i,0,-1):
        print('*', end= '  ')
    print()

enter the number 6

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *
*  *  *  *  *  *
*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

In [15]:
rows= int(input("enter the number"))

for i in range(1, rows+1):
    print(' '*rows, end= '')

    print('* '*i)

    rows=rows-1

enter the number 5

     *
    * *
   * * *
  * * * *
 * * * * *

In [16]:
rows= int(input("enter the number"))

for i in range(1, rows+1):
    print(' '*rows, end='')
    print('* '*i)
    rows=rows-1

enter the number 8

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *

In [22]:
rows= int(input("enter the number"))

for i in range (1, rows+1):
    for j in range(0,i):
        print('*', end='  ')
    print()

for i in range(1, rows):
    for j in range(rows-i,0,-1):
        print('*', end='  ')

    print()

enter the number 4

*
*  *
*  *  *
*  *  *  *
*  *  *
*  *
*

In [26]:
rows= int (input("enter the number"))

for i in range(0, rows):
    for j in range(rows-i,0,-1):
        print(j, end=' ')
    print()

enter the number 7

7 6 5 4 3 2 1
6 5 4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [27]:
rows= int (input("enter the number"))

for i in range (1, rows+1):
    print(' '*rows, end='  ')
    print('* '*i)
    rows=rows-1

enter the number 7

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *

In [31]:
rows=int(input("enter the number"))

for i in range(1, rows+1):
    for j in range(i,0,-1):
        print(j, end=' ')

    print()

enter the number 6

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1
6 5 4 3 2 1

In [ ]:
#Sum of series upto n terms

In [ ]:
n = int(input('enter the number of terms'))

start = 2
sum = 0

for i in range(0,n):
  if i < n-1:
    print(start,end='+')
  else:
    print(start)

  sum = sum + start
  start = start*10 + 2

print(sum)

In [ ]:
#unique combinations of 1,2 ,3 ,4

In [4]:
line= "Active learning course for future generations"

abb=" "

for i in line.split():
    abb= abb + i[0].upper()

print(abb)

 ALCFFG

In [3]:
num= int(input("enter the number"))

binary=[]

while num>0:
    binary.append(num%2)
    num= num//2
for i in binary[::-1]:
    print(i, end=" ")

enter the number 34

1 0 0 0 1 0

In [1]:
n= int(input("enter the number"))

binary=[]

while n>0:
    binary.append(n%2)
    n=n//2
for i in binary[::-1]:
    print(i,end='')

enter the number 23

10111

In [4]:
line= "python coding laguage mentorship programme"

short=" "

for i in line.split():
    short=short+i[0].upper()
print(short)

 PCLMP

In [5]:
note= "teachers and youth academic year"

form=" "

for i in note.split():
    form=form+i[0].upper()
print(form)

 TAYAY

In [6]:
s1=input("enter the first string")
s2=input("enter the second string")

print(s1[0:int(len(s1)/2)]+s2+s1[int(len(s1)/2):])

enter the first string data science mentorship program
enter the second string giving the brighter future to students

data science megiving the brighter future to studentsntorship program

In [ ]:
input:str1 = PyNaTive

output:yaivePNT

In [10]:
string="PyNaTive"

lower=""
upper=""

for i in string:
    if i.islower():
        lower=lower+i
    else:
        upper=upper+i
print(lower+upper)

yaivePNT

In [ ]:
hel123O4every093

In [13]:
s="hel12304every093"

sum=0
count=0

for i in s:
    if i.isdigit():
     sum=sum+int(i)
     count+=1
print(sum)
print(sum/count)
print(count)

22
2.75
8

In [38]:
n= int(input("enter the number of rows"))

for i in range(0,n):
    for j in range(n-i,0,-1):
        print("*",end=" ")
    print()

enter the number of rows 5

* * * * *
* * * *
* * *
* *
*

In [41]:
s="'I am 25 years and 10 months old"

num=" "

for i in s:
    if i.isdigit():
     num=num+i
print(num)

 2510

In [ ]:
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]
#combine the two lists

In [1]:
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]

[(i,j)for (i,j) in zip (list1,list2)]

[('M', 'y'), ('na', 'me'), ('i', 's'), ('Kh', 'an')]

In [2]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

list1[2][2]. append(7000)

print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [4]:
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]

for (i,j) in zip(candy_list, no_of_items):

 print(i, '-', j)

Jelly Belly - 10
Kit Kat - 20
Double Bubble - 34
Milky Way - 74
Three Musketeers - 32

In [5]:
list1 = [1,2,3,4,5,6]

list2=[]
sum=0
for i in list1:
    sum= sum+i
    list2.append(sum)

print(list2)

[1, 3, 6, 10, 15, 21]

In [8]:
l1=[2,4,6,10,1]

l2=[]



for i in l1:
    sum=0

    for j in l1:
        if i<=j:
            sum=sum+j

    l2.append(sum)
print(l2)

[22, 20, 16, 10, 23]

In [7]:
l=[2,4,6,10,1]

res=[]

for i in l:
    sum=0

    for j in l:
        if i<=j:
            sum=sum+j

    res.append(sum)

print("a")

a

In [8]:
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}

maxValue=0
maxKey=" "

for i in test_dict:
    if maxValue< len(set(test_dict[i])):
        maxValue=len(set(test_dict[i]))
        maxKey=i

print(maxKey)

Best

In [10]:
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
res=[]
for i in test_str.split():
    if i in repl_dict:
        res.append(repl_dict[i])
    else:
        res.append(i)

print(" ".join(res))

CampusX is the best channel for Data-Science students.

In [5]:
test_list = ["CampusX", 10]
key_list = ["name", "id"]
n=len(test_list)
new=[]


for i in range(0,n,3):

    new.append({key_list[0]:test_list[i], key_list[1]:test_list[i+1]})

print(new)

[{'name': 'CampusX', 'id': 10}]

In [19]:
test_list = ["CampusX", 10]
key_list = ["name", "id"]
d = dict(zip(key_list,test_list))
d

{'name': 'CampusX', 'id': 10}